
.navbar{
    background-color: #AA223C;
}

footer {
    background-color: #555;
    color: white;
    padding: 20px;
}

.card {
    border-radius: 0;
    width: 200px;
    height: 200px;
}

.padre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 100%;
}

.parametros {
    border: 2px dotted black;
    border-radius: 2%;
    padding: 5px;
}

#soltar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px dashed;
    line-height: 50px;
    margin: 0 auto;
    padding: 10vh;
}

.cargando {
    border: 16px solid #a09c9c;
    border-top: 16px solid #800080;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 4s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#btn_info {
    border-radius: 10px 0 0 10px;
}

#panel_info{
    position: absolute;
    top: 70%;
    right: 0;
}

#card_info {
    width: 0;
    border-radius: 0;
    transition:300ms linear;
    height: 220px;
}

#card_info_text{
    display: none;
    overflow: hidden;
}


