{% extends "base.html" %}
{%  from "macros.html" import formulario_comun %}
{% block head %}
    {{ super() }}
    <script type="text/javascript" src="/js/configuracion/configuracion.js"></script>
{% endblock %}
{% block title %}{{ gettext('Algorithm configuration') }}{% endblock %}
{% block content %}
    <button id="btn_volver" type="button" onclick="history.back()" class="btn sticky-top">
        <i class="bi bi-caret-left-fill"></i>{{ gettext('Go back') }}</button>| {{ gettext('Dataset') }}: {{ session['FICHERO']|nombredataset }}
    <div class="text-center pb-3">
        <h1 class="title-mulish text-bold">{{ gettext('Algorithm configuration') }}: {{ titulos[session['ALGORITMO']] }}</h1>
        <hr class="separacion" style="width: 14rem;"/>
    </div>
    <div class="container-fluid mt-4">
        <div class="row">
            <div id="theory-card" class="col-md">
                <div class="rounded-4 p-3 m-2 shadow-lg">
                    <div class="text-center">
                        <h4 class="title-mulish">{{ gettext('Theory') }}</h4>
                        <hr class="separacion" style="width: 8rem;"/>
                    </div>
                    <div class="m-2 p-2">
                        {% block explicaciones %}{% endblock %}
                    </div>
                    <div class="text-center">
                        {% block pseudocodigo %}{% endblock %}
                    </div>
                </div>
            </div>
            <div id="parameters-card" class="col-md">
                <div class="rounded-4 p-3 m-2 shadow-lg">
                    <div class="text-center">
                        <h4 class="title-mulish">{{ gettext('Parameters') }}</h4>
                        <hr class="separacion" style="width: 8rem;"/>
                    </div>
                    <form action="{{ url_for('visualization_bp.visualizar_algoritmo', algoritmo=session['ALGORITMO']) }}" method="POST">
                        {{ form.csrf_token }}
                        <div class="row">
                            <div class="col-md">
                                {% block parametros %}{% endblock %}
                            </div>
                            <div class="col-md">
                                {{ formulario_comun(caracteristicas, form) }}
                            </div>
                        </div>
                        <div class="row">
                            <button type="submit" class="btn btn-primary m-auto" style="width: 20rem">{{ gettext('Run') }}</button>
                        </div>
                    </form>
                    {% block form_scripts %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
    <script>
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
        [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));
    </script>
{% endblock %}