{% extends "configuracion/base_configuracion.html" %}
{%  from "macros.html" import selector, tooltip %}
{% block parametros %}
    <div class="mb-3">
        {{ selector("clasificador1", clasificadores) }}
    </div>
    <div class="parametros" id="parametros1"></div>
    <br>
    <div class="mb-3">
        {{ selector("clasificador2", clasificadores) }}
    </div>
    <div class="parametros" id="parametros2"></div>
    <br>
    <div class="mb-3">
        <label for="p">{{ gettext('Positives') }} (p):</label>
        <input type="number" class="form-control" id="p" min=0 max=Infinity required name="p" value=1>
    </div>
    <div class="mb-3">
        <label for="n">{{ gettext('Negatives') }} (n):</label>
        <input type="number" class="form-control" id="n" min=0 max=Infinity required name="n" value=3>
    </div>
    <div class="mb-3">
        <label for="u">{{ gettext('Initial data number') }}: {{ tooltip(gettext('If it is greater that the total, it will be limited to it')) }}</label>
        <input type="number" class="form-control" id="u" min=1 required name="u" value=75>
    </div>
    <div class="mb-3">
        <label for="n_iter">{{ gettext('Number of iterations') }}:</label>
        <input type="number" class="form-control" id="n_iter" min=0 required name="n_iter" value=30>
    </div>
{% endblock %}
{% block form_scripts %}
    <script>
        const clasificador1 = document.querySelector('#clasificador1');
        const clasificador2 = document.querySelector('#clasificador2');

        const div_parametros1 = document.querySelector('#parametros1');
        const div_parametros2 = document.querySelector('#parametros2');

        const todos_parametros = {{ parametros|tojson }};

        clasificador1.addEventListener('change', (event) => {
            generarFormParametros(event.target.value, div_parametros1, "clasificador1");
        });

        clasificador2.addEventListener('change', (event) => {
            generarFormParametros(event.target.value, div_parametros2, "clasificador2");
        });

        generarFormParametros(clasificador1.value, div_parametros1, "clasificador1");
        generarFormParametros(clasificador2.value, div_parametros2, "clasificador2");
    </script>
{% endblock %}
{% block explicaciones %}
    <p>{{ gettext('Strongly based on Self-Training but in this case, several classifiers (usually two)
    handle the process and "interact" with each other. As Self-Training, once classifiers are trained,
    they predict the labels of the those unlabelled instances, and all classifiers add the best predictions
    (higher confidence/probability).
    Co-Training works with two views of the data ("multi-view"). These views correspond not to subsets
    of instances, but to subsets of instance´s atributtes (characteristics). Each classifier
    will train considering different characteristics. Ideally, these views are independent and can
    predict the label on their own (although this doesn´t always happen). When classifiers predict
    labels on the data, they select the most confident data of both and build the new training set for
    the next iteration.')}}
    </p>
{% endblock %}
{% block pseudocodigo %}
    <img src="{{ gettext('/pseudocodigos/en/CoTraining.png') }}" width="75%" alt="{{ gettext('Co-Training Pseudocode') }}"/>
{% endblock %}