{% extends "configuracion/base_configuracion.html" %}
{%  from "macros.html" import selector, tooltip %}
{% block parametros %}
    <div class="mb-3">
        {{ selector("clasificador1", clasificadores) }}
    </div>
    <div class="parametros" id="parametros"></div>
    <br>
    <div class="mb-3">
        <label for="n">{{ gettext('N (Number of instances to select in each iteration)') }}:</label>
        <input type="number" class="form-control" id="n" min="0" max="Infinity" required oninput="limitarUnicoMetodoST(this.value,'th')" name="n" value="10">
    </div>
    <div class="mb-3">
        <label for="th">
            {{ gettext('Threshold') }}:
            {{ tooltip(gettext('Empty N parameter to activate it')) }}
        </label>
        <input type="number" class="form-control" id="th" min="0" max="0.99" step="any" oninput="limitarUnicoMetodoST(this.value,'n')" name="th" disabled>
    </div>
    <div class="mb-3">
        <label for="n_iter">{{ gettext('Number of iterations') }}:</label>
        <input type="number" class="form-control" id="n_iter" required name="n_iter" value="10">
    </div>
{% endblock %}
{% block form_scripts %}
    <script>
        const clasificador = document.querySelector('#clasificador1');
        const div_parametros= document.querySelector('#parametros');

        const todos_parametros = {{ parametros|tojson }};

        clasificador.addEventListener('change', (event) => {
            generarFormParametros(event.target.value, div_parametros, "clasificador1");
        });

        generarFormParametros(clasificador.value, div_parametros, "clasificador1");
    </script>
{% endblock %}
{% block explicaciones %}
    <p>{{ gettext('It is the simplest semi-supervised learning method. This method wraps a single base classifier,
        which is train with initial labelled data and take advantage of the pseudo-labelling process to continue
        its training.
        This method starts by training that base classifier with the labelled data. From this initial learning, the unlabelled
        data is labelled (pseudo-labelling). The most confident new labelled instances (in which the classifier
        has the most confident) are selected. Once selected, the classifier is retrained with union of those already
        labelled instances and these new labelled.
        The process continues until a stopping criterion (usually until label all data or a maximum number of iterations).') }}</p>
{% endblock %}
{% block pseudocodigo %}
    <img src="{{ gettext('/pseudocodigos/en/SelfTraining.png') }}" width="75%" alt="{{ gettext('Self-Training Pseudocode') }}"/>
{% endblock %}