{% extends "configuracion/base_configuracion.html" %}
{% from "macros.html" import selector %}
{% block parametros %}
    <div class="mb-3">
        {{ form.clasificador1.label }}
        {% if 'democraticcolearning' in request.path %}
            {{ form.clasificador1(class_="form-select", oninput="comprobarDiversidad()") }}
        {% else %}
            {{ form.clasificador1(class_="form-select") }}
        {% endif %}
    </div>
    <div class="parametros" id="parametros1"></div>
    <br>
    <div class="mb-3">
        {{ form.clasificador2.label }}
        {% if 'democraticcolearning' in request.path %}
            {{ form.clasificador2(class_="form-select", oninput="comprobarDiversidad()") }}
        {% else %}
            {{ form.clasificador2(class_="form-select") }}
        {% endif %}
    </div>
    <div class="parametros" id="parametros2"></div>
    <br>
    <div class="mb-3">
        {{ form.clasificador3.label }}
        {% if 'democraticcolearning' in request.path %}
            {{ form.clasificador3(class_="form-select", oninput="comprobarDiversidad()") }}
        {% else %}
            {{ form.clasificador3(class_="form-select") }}
        {% endif %}
    </div>
    <div class="parametros" id="parametros3"></div>
    <br>
{% endblock %}
{% block form_scripts %}
    <script>
        const clasificador1 = document.querySelector('#clasificador1');
        const clasificador2 = document.querySelector('#clasificador2');
        const clasificador3 = document.querySelector('#clasificador3');

        const div_parametros1 = document.querySelector('#parametros1');
        const div_parametros2 = document.querySelector('#parametros2');
        const div_parametros3 = document.querySelector('#parametros3');

        const todos_parametros = {{ parametros|tojson }};

        clasificador1.addEventListener('change', (event) => {
            generarFormParametros(event.target.value, div_parametros1, "clasificador1");
        });

        clasificador2.addEventListener('change', (event) => {
            generarFormParametros(event.target.value, div_parametros2, "clasificador2");
        });

        clasificador3.addEventListener('change', (event) => {
            generarFormParametros(event.target.value, div_parametros3, "clasificador3");
        });

        let es_democratic = window.location.pathname.includes('democraticcolearning');

        const clasificadores_base = Object.keys(todos_parametros);
        clasificador1.value = clasificadores_base[0];
        generarFormParametros(clasificadores_base[0], div_parametros1, "clasificador1");

        clasificador2.value = clasificadores_base[es_democratic ? 1 : 0];
        generarFormParametros(clasificadores_base[es_democratic ? 1 : 0], div_parametros2, "clasificador2");

        clasificador3.value = clasificadores_base[es_democratic ? 2 : 0];
        generarFormParametros(clasificadores_base[es_democratic ? 2 : 0], div_parametros3, "clasificador3");

        /**
         *
         * Asegura que los clasificadores sean diferentes impidiendo
         * que el usuario pueda enviar el formulario.
         *
         */
        function comprobarDiversidad() {
            let dictionary = Object.fromEntries(clasificadores_base.map(x => [x, 0]));
            let selectores = [clasificador1, clasificador2, clasificador3];
            for (let i = 0; i < selectores.length; i++) {
                selectores[i].setCustomValidity('');
                dictionary[selectores[i].value] += 1;
                if (dictionary[selectores[i].value] > 1) {
                    if (locale === 'es') {
                        selectores[i].setCustomValidity('Los clasificadores deben ser diferentes (diversos) para asegurar una ejecución correcta.');
                    } else {
                        selectores[i].setCustomValidity('Classifiers must be different (diverse) to ensure proper execution.');
                    }
                }
            }
        }

    </script>
{% endblock %}