pandas~=1.4.3
Babel~=2.11.0
Flask~=2.2.2
flask-babel~=3.0.1
Flask-SQLAlchemy~=3.0.3
Flask-Login~=0.6.2
scikit-learn~=1.2.0
numpy~=1.23.3
scipy~=1.9.3
setuptools~=65.5.1
pytest~=7.2.1
sslearn~=1.0.2
Werkzeug~=2.2.2
matplotlib~=3.7.1