pandas==1.4.4
Babel==2.11.0
Flask==2.2.5
flask-babel==3.0.1
Flask-SQLAlchemy==3.0.3
Flask-Login==0.6.2
scikit-learn==1.2.1
numpy==1.23.5
scipy==1.9.3
setuptools==65.5.1
pytest==7.2.1
Werkzeug==2.2.3
matplotlib==3.7.1
WTForms==3.0.1
Flask-WTF==1.1.1
SQLAlchemy==2.0.13