<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
    <title>{{ error }}</title>
    <style>
        body {
            background-color: #4D7080;
        }
        a {
            font-size: 50px;
        }
    </style>
</head>
<body>
<div class="d-flex flex-column justify-content-center align-items-center text-white" style="height: 100vh">
    <h1>{{ error }}</h1>
    <hr class="separacion" style="width: 5rem"/>
    <h1>{{ mensaje }}</h1>
    <hr class="separacion w-8"/>
    <a href="/" class="text-white text-decoration-none mt-5">{{ gettext('Go home') }}</a>
</div>
</body>
</html>