{% extends "base.html" %}
{% block title %}{{ gettext('Home') }}{% endblock %}
{% block content %}
    <div class="mt-4 p-5 A text-white">
        <h1>VASS</h1>
        <p>{{ gettext('Final Degree Project on semi-supervised algorithms and their visualization') }}</p>
    </div>
    <div class="dos-colores container-fluid bg-3 text-center">
        <div class="row justify-content-around">
            <div class="card shadow-lg m-2" style="width: 18rem;">
                <img class="card-img-top mt-2" src="https://picsum.photos/640/360" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Self-Training</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ gettext('One classifier') }}</li>
                </ul>
                <div class="card-body">
                    <a href="/seleccionar/selftraining" class="btn btn-primary">{{ gettext('Select') }}</a>
                </div>
            </div>
            <div class="card m-2" style="width: 18rem;">
                <img class="card-img-top mt-2" src="https://picsum.photos/640/360" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Co-Training</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ gettext('Two classifiers') }}</li>
                    <li class="list-group-item">{{ gettext('Multi-view') }}</li>
                </ul>
                <div class="card-body">
                    <a href="/seleccionar/cotraining" class="btn btn-primary">{{ gettext('Select') }}</a>
                </div>
            </div>
            <div class="card m-2" style="width: 18rem;">
                <img class="card-img-top mt-2" src="https://picsum.photos/640/360" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Democratic Co-Learning</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ gettext('Three classifiers') }}</li>
                    <li class="list-group-item">{{ gettext('Single-view') }}</li>
                </ul>
                <div class="card-body">
                    <a href="/seleccionar/democraticcolearning" class="btn btn-primary">{{ gettext('Select') }}</a>
                </div>
            </div>
            <div class="card m-2" style="width: 18rem;">
                <img class="card-img-top mt-2" src="https://picsum.photos/640/360" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Tri-Training</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ gettext('Three classifiers') }}</li>
                    <li class="list-group-item">{{ gettext('Single-view') }}</li>
                </ul>
                <div class="card-body">
                    <a href="/seleccionar/tritraining" class="btn btn-primary">{{ gettext('Select') }}</a>
                </div>
            </div>
        </div>
    </div><br>
{% endblock %}


