{% extends "base.html" %}
{% block title %}{{ gettext('Home') }}{% endblock %}
{% block content %}
    <div class="mt-1 p-3 pb-1 A text-white text-center">
        <h1 class="title-mulish text-bold">VASS</h1>
        <h4 class="title-mulish">{{ gettext('Semi-Supervised Algorithm Visualizer') }}</h4>
        <hr class="separacion w-8"/>
    </div>
    <div class="A">
        <div class="d-flex justify-content-center align-items-center">
            <div id="card_inicial" class="accordion col-md-6 m-4">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panel-teoria" aria-expanded="false" aria-controls="panel-teoria">
                            {{ gettext('A little bit of theory...') }}
                        </button>
                    </h2>
                    <div id="panel-teoria" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <div class="text-center">
                                <h4 class="title-mulish">{{ gettext('A little bit of theory...') }}</h4>
                                <hr class="separacion w-8"/>
                            </div>
                            <div class="m-2 p-2">
                                {{ gettext('<strong>Semi-supervised learning</strong> is the branch of machine learning that
                            refers to the simultaneous use of data both <strong>labeled</strong> and
                            <strong>unlabeled</strong> to perform learning tasks. It sits between supervised
                            and unsupervised learning.<br><br>Among all <strong>semi-supervised algorithms</strong>,
                            the core of this project is based on <strong>inductive methods</strong>.
                            Their idea is very simple: they try to create a classifier that predicts labels for new data.
                            The proposed algorithms have this objective, albeit with a bit more specificity:
                            <strong>wrapper methods</strong>. The well-known <strong>wrapper methods</strong>
                            are based on <strong>pseudo-labeling</strong>, which is the process where classifiers
                            trained with labeled data generate labels for the unlabeled ones. Once this process is
                            completed, the classifier is retrained, incorporating these new labels.') }}

                            </div>
                            <div class="m-2 p-2">
                                {{ gettext('In the following cards, four of the most representative algorithms of
                            semi-supervised learning are presented: <strong>Self-Training</strong>,
                            <strong>Co-Training</strong>, <strong>Tri-Training</strong> and
                            <strong>Democratic Co-Learning</strong>. <br><br> Internally, each algorithm utilizes
                            one or several classifiers (wrapper methods). Additionally, the number
                            of views on the data is distinguished (a view being the subset of attributes of the dataset
                            that the algorithm uses to learn the model). Unlike <strong>Single-view</strong>, a
                            <strong>Multi-view</strong> algorithm views the dataset attributes as multiple subsets.
                            For example, in the Co-Training algorithm, the first classifier might only "see" half of
                            the attributes while the second one sees the other half. Each of them will work with its
                            specific subset of attributes.') }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panel-objetivo" aria-expanded="false" aria-controls="panel-objetivo">
                            {{ gettext('Objective') }}
                        </button>
                    </h2>
                    <div id="panel-objetivo" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <div class="text-center">
                                <h4 class="title-mulish">{{ gettext('Objective') }}</h4>
                                <hr class="separacion w-8"/>
                            </div>
                            <div class="m-2 p-2">
                                {{ gettext('The aim of this tool is to facilitate, through visualizations, the understanding
                            of how the main semi-supervised algorithms actually work when combined with theoretical
                            concepts. <br><br>By selecting any of the algorithms, you will be redirected to load the
                            dataset. Subsequently, you can configure the algorithm with the desired parameters and
                            finally obtain a visualization of the training process.') }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dos-colores container-fluid bg-3 text-center">
        <div class="row justify-content-around">
            <div class="card shadow m-2" style="width: 18rem;">
                <img class="card-img-top mt-2" src="/SelfTraining.png" width="300" height="250" alt="Self-Training">
                <div class="card-body">
                    <h5 class="card-title title-mulish text-bold">Self-Training</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ gettext('One classifier') }}</li>
                    <li class="list-group-item">{{ gettext('Single-view') }}</li>
                </ul>
                <div class="card-body align-bottom">
                    <a href="/seleccionar/selftraining"
                       class="btn btn-primary stretched-link">{{ gettext('Select') }}</a>
                </div>
            </div>
            <div class="card shadow m-2" style="width: 18rem;">
                <img class="card-img-top mt-2" src="/CoTraining.png" width="300" height="250" alt="Co-Training">
                <div class="card-body">
                    <h5 class="card-title title-mulish text-bold">Co-Training</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ gettext('Two classifiers') }}</li>
                    <li class="list-group-item">{{ gettext('Multi-view') }}</li>
                </ul>
                <div class="card-body">
                    <a href="/seleccionar/cotraining" class="btn btn-primary stretched-link">{{ gettext('Select') }}</a>
                </div>
            </div>
            <div class="card shadow m-2" style="width: 18rem;">
                <img class="card-img-top mt-2" src="/TriTraining.png" width="300" height="250" alt="Tri-Training">
                <div class="card-body">
                    <h5 class="card-title title-mulish text-bold">Tri-Training</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ gettext('Three classifiers') }}</li>
                    <li class="list-group-item">{{ gettext('Single-view') }}</li>
                </ul>
                <div class="card-body">
                    <a href="/seleccionar/tritraining"
                       class="btn btn-primary stretched-link">{{ gettext('Select') }}</a>
                </div>
            </div>
            <div class="card shadow m-2" style="width: 18rem;">
                <img class="card-img-top mt-2" src="/DemocraticCoLearning.png" width="300" height="250"
                     alt="Democratic Co-Learning">
                <div class="card-body">
                    <h6 class="card-title title-mulish text-bold">Democratic Co-Learning</h6>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"
                        style="font-size: 0.95rem">{{ gettext('Three or more classifiers') }}</li>
                    <li class="list-group-item">{{ gettext('Single-view') }}</li>
                </ul>
                <div class="card-body">
                    <a href="/seleccionar/democraticcolearning"
                       class="btn btn-primary stretched-link">{{ gettext('Select') }}</a>
                </div>
            </div>
        </div>
    </div><br>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            let steps = [{
                    title: "{{ gettext('Welcome') }}",
                    intro: "{{ gettext('Welcome to VASS! This is a basic tutorial.') }}"
                },
                {
                    element: '#card_inicial',
                    intro: "{{ gettext("Here's a quick rundown of some theoretical concepts and what the app aims to do.") }}"
                },
                {
                    element: '.card',
                    intro: "{{ gettext("By selecting any of these algorithms, you'll be able to upload a dataset to work with.") }}"
                },
                {
                    element: '#selectores_algoritmo',
                    intro: "{{ gettext("Likewise, you can select any algorithm using these selectors.") }}"
                },
                {
                    element: '#inicio_tutorial',
                    intro: "{{ gettext("On every page of the application, you'll always find a basic tutorial by clicking on this button.") }}"
                },
                {
                    element: '#link_manual',
                    intro: "{{ gettext("At any time, you can refer to the application's guide by clicking on this button.") }}"
                },
                {
                    element: '#selector_idioma',
                    intro: "{{ gettext("You can also choose the desired language.") }}"
                }
            ];

            if (document.getElementById('inicio_sesion')) {
                steps.push({
                    element: '#inicio_sesion',
                    position: 'left',
                    intro: "{{ gettext("You can log in or register in the application. This will allow you to store datasets and even save executions.") }}"
                });
            } else {
                steps.push({
                    element: '#nombre_usuario',
                    intro: "{{ gettext("Here you can access the profile and personal space with datasets and executions.") }}"
                });
            }

            document.getElementById('inicio_tutorial').addEventListener('click', function () {
                this.style.animation = "none";
                introJs().setOptions({
                    steps: steps,
                    'nextLabel': "{{ gettext("Next") }}",
                    'prevLabel': "{{ gettext("Previous") }}",
                    'doneLabel': "{{ gettext("Done") }}",
                }).start();
            });
        });

    </script>
{% endblock %}
