{% extends "base.html" %}
{% block title %}{{ gettext('Dataset selection') }}{% endblock %}
{% block content %}
    <br>
    <div class="d-flex justify-content-center align-items-center">
        <p class="h2 text-center">{{ gettext('Dataset upload') }}</p>
    </div>
    <br>
    <div class="container text-center pb-5">
        <div class="d-flex align-items-center flex-column">
            <div class="mb-3">
                <div id="soltar">
                    <p>{{ gettext('Drag and drop your file') }}</p>
                    <p>{{ gettext('or') }}</p>
                    <input type=file id="archivo" accept=".arff,.csv" name=archivo>
                </div>
            </div>
            <div class="mb-3">
                <progress id="progreso" max=100 value=0></progress>
                <form action="{{ url_for('configuration_bp.configurar_algoritmo', algoritmo=session['ALGORITMO']) }}">
                    <input id="config_btn" class="btn btn-primary" type="submit" value="{{ gettext('Configure algorithm') }}" />
                </form>
            </div>
        </div>
        <a class="btn btn-success" href="{{url_for('main_bp.descargar_prueba')}}">{{ gettext('Download test file') }}</a>
    </div>
    <script type="text/javascript" src="/js/subida.js"></script>
{% endblock %}

