{% extends "base.html" %}
{% block title %}{{ gettext('Dataset selection') }}{% endblock %}
{% block content %}
    <button id="btn_volver" type="button" onclick="history.back()" class="btn sticky-top">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 25 18">
            <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"></path>
        </svg>{{ gettext('Go back') }}</button>
    <div class="text-center pb-3">
        <h1>{{ gettext('Dataset upload') }}</h1>
        <hr class="separacion"/>
    </div>
    <div class="d-flex justify-content-center align-items-center">
        <div class="rounded-4 mt-4 mb-5 m-auto p-4 shadow-lg d-inline-block">
            <div class="d-flex justify-content-center align-items-center">
                <p class="h2 text-center">{{ gettext('File selection') }}</p>
            </div>
            <hr class="separacion"/>
            <br>
            <div class="container text-center pb-5">
                <div class="d-flex align-items-center flex-column">
                    <div class="mb-3">
                        <div id="soltar">
                            <p>{{ gettext('Drag and drop your file') }}</p>
                            <p>{{ gettext('or') }}</p>
                            <input type=file id="archivo" accept=".arff,.csv" name=archivo>
                            <label for="archivo">{{ gettext('Choose file') }}</label>
                            <span id="nombre_fichero"> </span>
                        </div>
                    </div>
                    <div class="mb-2 w-75">
                        <div class="rounded-4 m-2 p-4 text-start">
                            <span id="porcentaje_progreso">0%</span> {{ gettext('completed') }}<br>
                            <div class="progress">
                                <div id="progreso" class="progress-bar bg-warning" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <form action="{{ url_for('configuration_bp.configurar_algoritmo', algoritmo=session['ALGORITMO']) }}">
                    <input id="config_btn" class="btn btn-primary" type="submit" value="{{ gettext('Configure algorithm') }}" />
                </form>
                <br>
                <a class="btn btn-success" href="{{url_for('main_bp.descargar_prueba')}}">{{ gettext('Download test file') }}</a>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/js/subida.js"></script>
{% endblock %}

