{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <script type="text/javascript" src="/js/d3.min.js"></script>
    <script type="text/javascript" src="/js/inicializar.js"></script>
    <script type="text/javascript" src="/js/estadisticas.js"></script>
    <script type="text/javascript" src="/js/grafico.js"></script>
    <meta name="csrf-token" content="{{ csrf_token() }}">
{% endblock %}
{% block content %}
    <button id="btn_volver" type="button" onclick="history.back()" class="btn">
        <i class="bi bi-caret-left-fill"></i>{{ gettext('Go back') }}</button>| {{ gettext('Dataset') }}: {{ session['FICHERO']|nombredataset }}
    <br>
    <div id="div_cargando">
        <div id="cargando" class="cargando m-auto"></div>
    </div>
    <div id="titulo_visualizacion" class="text-center pb-3" style="visibility: hidden">
        <h1 class="title-mulish text-bold">{{ titulos[session['ALGORITMO']] }}</h1>
        <hr class="separacion" style="width: 12rem;"/>
    </div>
    <div id="visualizacion" style="visibility: hidden;" class="d-flex flex-wrap justify-content-around mb-3 position-relative">
        <div id="visualization-card" class="col-md">
            <div class="m-2 pt-4 pb-2 shadow-lg rounded-4 sticky-top">
                <div class="text-center position-relative">
                    <h4 class="title-mulish">{{ gettext('Main visualization') }}</h4>
                    <hr class="separacion" style="width: 10rem;"/>
                    <div id="zona_gráfico" class="d-flex mt-4 justify-content-center align-items-center">
                        <div class="d-flex">
                            <div id="visualizacion_principal"></div>
                            <div id="leyenda_visualizacion" class="d-flex flex-column align-items-start m-auto" style="width: 7rem;"></div>
                        </div>
                    </div>
                    <div class="text_center" id="controles">
                        <button id="reiniciar_zoom" class="btn btn-light">{{ gettext('Zoom reset') }}</button>
                        <br><br>
                        <label>{{ gettext('Iteration') }}: </label><label id="iteracion">0</label>
                        <br>
                        <progress id="progreso" value=0></progress>
                        <br>
                        <button id="previt" class="btn btn-primary">{{ gettext('Previous') }}</button>
                        <button id="reproducir" class="btn btn-primary">{{ gettext('Play') }}</button>
                        <button id="nextit" class="btn btn-primary">{{ gettext('Next') }}</button>
                    </div>
                    <br>
                </div>
            </div>
        </div>
        <div id="stats-card" class="col-md">
            <div class="m-2 pt-4 pb-2 shadow-lg rounded-4 text-center sticky-top">
                <div class="accordion w-75 mx-auto" id="pseudocodigo">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="encabezado">
                            <button class="accordion-button collapsed title-mulish" type="button" data-bs-toggle="collapse" data-bs-target="#collapse" aria-expanded="false" aria-controls="collapse">
                                {{ gettext('Pseudocode') }}
                            </button>
                        </h2>
                        <div id="collapse" class="accordion-collapse collapse" aria-labelledby="encabezado" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                {% block pseudocodigo %}{% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <h4 class="title-mulish">{{ gettext('General statistics') }}</h4>
                <hr class="separacion" style="width: 10rem;"/>
                <div id="zona_estadisticas_generales" class=" d-flex mt-4 justify-content-center align-items-center text-center">
                    <div class="d-flex">
                        <div id="estadisticas_generales"></div>
                        <div id="leyenda_estadisticas_generales" class="d-flex flex-column align-items-start m-auto" style="width: 12rem;"></div>
                    </div>
                </div>
                <br>
                {% block titulo_especificas %}{% endblock %}
                <div id="zona_estadisticas_especificas" class=" d-flex justify-content-center align-items-center text-center">
                    <!-- Si fuesen necesarias más estadísticas se incluirán aquí -->
                    {% block mas_estadisticas %}{% endblock %}
                </div>
            </div>
        </div>
    </div>

    <script>
        function traducir(texto) {
            let traducciones = {
                'Initial data': "{{ gettext('Initial data') }}",
                'Label': "{{ gettext('Label') }}",
                'Classifier': "{{ gettext('Classifier') }}",
                'Classifier: Not classified': "{{ gettext('Classifier: Not classified') }}",
                'Label: Not classified': "{{ gettext('Label: Not classified') }}",
                'Pause': "{{ gettext('Pause') }}",
                'Play': "{{ gettext('Play') }}",
                'Measure': "{{ gettext('Measure') }}",
                'Iteration': "{{ gettext('Iteration') }}"
            }
            return traducciones[texto]
        }

        /* Datos para la petición POST de la ejecución del algortimo.
        * Es decir, cada elemento es uno de los parámetros configurados */
        let elementos = [];

        {% for param in params %}
            elementos.push({nombre: "{{ param.nombre }}", valor: "{{ param.valor }}"});
        {% endfor %}

        let cx = "{{ cx }}", cy = "{{ cy }}";
    </script>
    <!-- Si fuesen necesarios más se incluirán aquí -->
    <!-- En principio siempre (al menos) se ejecutará la petición POST -->
    {% block mas_scripts %}{% endblock %}
{% endblock %}