{% extends "visualizacion/base_visualizacion.html" %}
{% block title %}Co-Training{% endblock %}
{% block pseudocodigo %}
    <img src="{{ gettext('/pseudocodigos/en/CoTraining.png') }}" width="75%" alt="{{ gettext('Co-Training Pseudocode') }}"/>
{% endblock %}
{% block mas_scripts %}
    {% if ejecutar %}
        <script>
            inicializar_con_peticion("/datos/{{ session['ALGORITMO'] }}", elementos, preparardataset_cotraining, grafico_cotraining);
        </script>
    {% else %}
        <script>
            let datos = {{ json_data|tojson }};
            inicializar_sin_peticion(datos, preparardataset_cotraining, grafico_cotraining)
        </script>
    {% endif %}
{% endblock %}