{% extends "visualizacion/base_visualizacion.html" %}
{% block title %}Co-Training{% endblock %}
{% block pseudocodigo %}
    <img src="{{ gettext('/pseudocodigos/en/CoTraining.png') }}" width="75%" />
{% endblock %}
{% block mas_scripts %}
    <script>
        inicializar("/datos/{{ session['ALGORITMO'] }}", elementos).then(function (datos) {
            inicializarGrafico(datos, preparardataset_cotraining,grafico_cotraining);

            let stats = Object.keys(JSON.parse(datos.stats));
            generargraficoestadistico("estadisticas_generales", JSON.parse(datos.stats), stats);
        });
    </script>
{% endblock %}