{% extends "visualizacion/base_visualizacion.html" %}
{% block title %}Democratic Co-Learning{% endblock %}
{% block pseudocodigo %}
    <img src="{{ gettext('/pseudocodigos/en/DemocraticCoLearningFit.png') }}" width="75%" />
    <img src="{{ gettext('/pseudocodigos/en/DemocraticCoLearningCombine.png') }}" width="75%" />
{% endblock %}
{% block titulo_especificas %}
    <h4>{{ gettext('Specific statistics') }}</h4>
    <hr class="separacion" style="width: 10rem;"/>
    <br>
{% endblock %}
{% block mas_estadisticas %}
    <div class="d-flex">
        <div id="estadisticas_especificas"></div>
        <div id="leyenda_estadisticas_especificas" class="d-flex flex-column align-items-start m-auto" style="width: 12rem;"></div>
    </div>
{% endblock %}
{% block mas_scripts %}
    <script>
        inicializar("/datos/{{ session['ALGORITMO'] }}", elementos).then(function (datos) {
            inicializarGrafico(datos, preparardataset_democraticcolearning_tritraining,grafico_democraticcolearning);

            let stats = Object.keys(JSON.parse(datos.stats));
            generargraficoestadistico("estadisticas_generales", JSON.parse(datos.stats), stats);

            generarespecificas(datos.specific_stats);
        });
    </script>
{% endblock %}