{% extends "visualizacion/singleview.html" %}
{% block title %}Democratic Co-Learning{% endblock %}
{% block pseudocodigo %}
    <img src="{{ gettext('/pseudocodigos/en/DemocraticCoLearningFit.png') }}" width="75%" alt="{{ gettext('Democratic Co-Learning Fit Pseudocode') }}"/>
    <img src="{{ gettext('/pseudocodigos/en/DemocraticCoLearningCombine.png') }}" width="75%" alt="{{ gettext('Democratic Co-Learning Combine Pseudocode') }}"/>
{% endblock %}
{% block mas_scripts %}
    <script>
        inicializar("/datos/{{ session['ALGORITMO'] }}", elementos).then(function (datos) {
            inicializarGrafico(datos, preparardataset_democraticcolearning_tritraining,grafico_democraticcolearning);

            let stats = Object.keys(JSON.parse(datos.stats));
            generargraficoestadistico("estadisticas_generales", JSON.parse(datos.stats), stats);

            generarespecificas(datos.specific_stats);
        });
    </script>
{% endblock %}