{% extends "visualizacion/singleview.html" %}
{% block title %}Tri-Training{% endblock %}
{% block pseudocodigo %}
    <img src="" width="75%" alt="{{ gettext('Tri-Training Pseudocode') }}"/>
{% endblock %}
{% block mas_scripts %}
    {% if ejecutar %}
        <script>
            inicializar("/datos/{{ session['ALGORITMO'] }}", elementos).then(function (datos) {
                inicializarGrafico(datos, preparardataset_democraticcolearning_tritraining,grafico_tritaining);

                let stats = Object.keys(JSON.parse(datos.stats));
                generargraficoestadistico("estadisticas_generales", JSON.parse(datos.stats), stats);

                generarespecificas(datos.specific_stats);
            });
        </script>
    {% else %}
        <script>
            let datos = {{ json_data|tojson }};
            document.getElementById("div_cargando").remove();
            document.getElementById("visualizacion").style.visibility = 'visible';
            document.getElementById("titulo_visualizacion").style.visibility = 'visible';
            inicializarGrafico(datos, preparardataset_democraticcolearning_tritraining,grafico_tritaining);

            let stats = Object.keys(JSON.parse(datos.stats));
            generargraficoestadistico("estadisticas_generales", JSON.parse(datos.stats), stats);

            generarespecificas(datos.specific_stats);
        </script>
    {% endif %}
{% endblock %}