{% extends "visualizacion/singleview.html" %}
{% block title %}Tri-Training{% endblock %}
{% block pseudocodigo %}
    <img src="" width="75%" alt="{{ gettext('Tri-Training Pseudocode') }}"/>
{% endblock %}
{% block mas_scripts %}
    <script>
        inicializar("/datos/{{ session['ALGORITMO'] }}", elementos).then(function (datos) {
            inicializarGrafico(datos, preparardataset_democraticcolearning_tritraining,databinding_tritaining);

            let stats = Object.keys(JSON.parse(datos.stats));
            generargraficoestadistico("estadisticas_generales", JSON.parse(datos.stats), stats);

            generarespecificas(datos.specific_stats);
        });
    </script>
{% endblock %}