{% extends "base.html" %}
{% block content %}
    <button id="btn_volver" type="button" onclick="history.back()" class="btn sticky-top">
        <i class="bi bi-caret-left-fill"></i>{{ gettext('Go back') }}</button>
    <div class="d-flex justify-content-center align-items-center">
        <div class="rounded-4 shadow-lg mb-5" style="width: 25rem;">
            <p class="h2 text-center mt-3">{% block titulo_form_user %}{% endblock %}</p>
            <hr class="separacion" style="width: 8rem;"/>
            <br>
            <div class="container pb-5">
                <form method="POST">
                    {{ form.csrf_token }}
                    {% block formulario %}{% endblock %}
                    <div class="d-flex justify-content-center mt-3">
                        <button type="submit" class="btn btn-primary">{{ gettext('Submit') }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

