{% extends "usuarios/base_form.html" %}
{% block title %}{{ gettext('Log In') }}{% endblock %}
{% block formulario %}
    <div class="form-group mt-3 mx-5">
        {{ form.email.label }}
        {{ form.email(class_="form-control") }}
        {% if form.email.errors %}
            <div class="alert alert-danger text-break">
                {% for error in form.email.errors %}
                    {{ error }}<br>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <div class="form-group mt-3 mx-5">
        {{ form.password.label }}
        {{ form.password(class_="form-control") }}
        {% if form.password.errors %}
            <div class="alert alert-danger text-break">
                {% for error in form.password.errors %}
                    {{ error }}<br>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}

