{% extends "usuarios/base_user.html" %}
{%  from "macros.html" import table_scripts_links,datasettable, historytable, modaleliminar, modalparametros, modalejecutar, modalerror %}
{% block head %}
    {{ super() }}
    <meta name="csrf-token" content="{{ csrf_token() }}">
    {{ table_scripts_links() }}
    <script type="module" src="/js/usuarios/miespacio.js"></script>
{% endblock %}
{% block title %}{{ gettext('My Space') }}{% endblock %}
{% block title_content %}{{ gettext('My Space') }}{% endblock %}
{% block funcion %}
    <input type="hidden" id="user_id" value="{{ current_user.id }}">
    <div class="my-5">
        <div class="text-center">
            <h4>{{ gettext('Uploaded datasets') }}</h4>
            <hr class="separacion" style="width: 8rem;"/>
        </div>
        {{ datasettable() }}
    </div>

    <div class="my-5">
        <div class="text-center">
            <h4>{{ gettext('Run history') }}</h4>
            <hr class="separacion" style="width: 8rem;"/>
        </div>
        {{ historytable() }}
    </div>

    {{ modaleliminar() }}

    {{ modalparametros() }}

    {{ modalejecutar() }}

    {{ modalerror() }}

{% endblock %}
