body {
  font-family: Courier, monospace !important;
}

.A {
    background-color: #4D7080;
}

.B {
    background-color: #FFF;
}

.B2 {
    background-color: #E5F7FF;
}

.C {
    background-color: #9AE0FF;
}

.D {
    background-color: #737C80;
}

.E {
    background-color: #23343B;
}

.separacion {
    border: none;
    height: 4px;
    width: 25%;
    margin: 10px auto;
    background-color: #f8d866;
}


footer {
    background-color: #555;
    color: white;
    padding: 20px;
}

.flash {
    background-color: gold;
    color: black;
    margin:0;
    text-align: center;
}

.card {
    border-radius: 0;
    width: 200px;
    height: 200px;
}

.dos-colores {
    background: linear-gradient(to bottom, #4D7080 50%, #FFF 50%);
}

.padre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 100%;
}

.parametros {
    border: 2px dotted black;
    border-radius: 2%;
    padding: 5px;
}

#soltar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px dashed #4D7080;
    line-height: 50px;
    margin: 0 10vh;
    padding: 8vh 10vh;

}

#archivo{
    width: 0;
	height: 0;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#archivo + label {
    color: white;
    background-color: #4D7080;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.1s
}

#archivo:focus + label,
#archivo + label:hover {
    transform: scale(1.05);
}



.cargando {
    border: 16px solid #a09c9c;
    border-top: 16px solid #AA223C;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    animation: spin 4s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#btn_info {
    border-radius: 10px 0 0 10px;
}

#panel_info{
    position: absolute;
    top: 70%;
    right: 0;
}

#card_info {
    width: 0;
    border-radius: 0;
    transition:300ms linear;
    height: 220px;
}

#card_info_text{
    display: none;
    overflow: hidden;
}


