body {
    font-family: Courier, monospace !important;
    background-color: #FFF;
}

.A {
    background-color: #4D7080;
}

.B {
    background-color: #FFF;
}

.B2 {
    background-color: #E5F7FF;
}

.C {
    background-color: #9AE0FF;
}

.D {
    background-color: #737C80;
}

.E {
    background-color: #23343B;
}

.separacion {
    border: none;
    height: 5px;
    margin: 10px auto;
    background-color: #f8d866;
    opacity: 0.5;
}


footer {
    background-color: #555;
    color: white;
    padding: 20px;
}

.flash {
    color: black;
    margin:0;
    text-align: center;
}

.card {
    transition: transform 0.1s ease-in-out;
}

.card:hover {
    transform: scale(1.01);
}

.dos-colores {
    background: linear-gradient(to bottom, #4D7080 50%, #FFF 50%);
}

@media (max-width: 1220px) {
    .dos-colores {
        background: linear-gradient(to bottom, #4D7080 75%, #FFF 25%);
    }
}

@media (max-width: 610px) {
    .dos-colores {
        background: linear-gradient(to bottom, #4D7080 90%, #FFF 10%);
    }
}

/*https://www.w3schools.com/howto/howto_css_tooltip.asp*/
.tooltip-info {
    position: relative;
    display: inline-block;
}

.tooltip-info .tooltip-info-text {
    visibility: hidden;
    width: 200px;
    background-color: #737C80;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 110%;
    left: -120%;
    margin-left: -60px;

    opacity: 0;
    transition: opacity 0.2s;
}

.tooltip-info .tooltip-info-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip-info:hover .tooltip-info-text {
    visibility: visible;
    opacity: 1;
}

.parametros {
    border: 2px dotted black;
    border-radius: 2%;
    padding: 5px;
}

#soltar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px dashed #4D7080;
    line-height: 50px;
    margin: 0 10vh;
    padding: 8vh 10vh;

}

@media (max-width: 610px) {
    #soltar {
        margin: 0 5vh;
        padding: 5vh 8vh;
    }
}

@media (max-width: 550px) {
    #soltar {
        margin: 0 3vh;
        padding: 5vh 8vh;
    }
}

@media (max-width: 520px) {
    #soltar {
        margin: 0 1vh;
        padding: 3vh 5vh;
    }
}

@media (max-width: 420px) {
    #soltar {
        margin: 0 0;
        padding: 2vh 2vh;
    }
}

#archivo{
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#archivo + label {
    color: white;
    background-color: #4D7080;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.1s
}

#archivo:focus + label,
#archivo + label:hover {
    transform: scale(1.05);
}

@media (max-width: 750px) {
    #theory-card {
        width: 95vw;
        margin: 1rem auto !important;
    }
    #parameters-card {
        width: 95vw;
        margin: 1rem auto !important;
    }
}

.cargando {
    border: 16px solid #a09c9c;
    border-top: 16px solid #737C80;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    animation: spin 4s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media (max-width: 1600px) {
    #visualization-card {
        width: 50vw !important;
    }
    #stats-card {
        width: 50vw;
    }
}

#btn_info {
    border-radius: 10px 0 0 10px;
}

#panel_info{
    position: absolute;
    top: 70%;
    right: 0;
}

#card_info {
    width: 0;
    border-radius: 0;
    transition:300ms linear;
    height: 220px;
}

#card_info_text{
    display: none;
    overflow: hidden;
}


