{% extends "base.html" %}
{% block title %}Configuración de la ejecución{% endblock %}
{% block content %}
    <div class="container pb-5">
        <div class="row align-items-center" style="height: 800px">
            <div class="col">
                <div class="padre">
                    {% block parametros %}
                    {% endblock %}
                </div>
            </div>
            <div class="col">
                <div class="padre">
                    {% block explicaciones %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/static/configuracion.js"></script>
{% endblock %}