<!DOCTYPE html>
<html lang="es">
    <head>
        {% block head %}
        <link rel="stylesheet" href="/static/style.css" />
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %} - VASS</title>
        {% endblock %}
    </head>
    <body>
        <div id="header">{% block header %}
            <div id="navbar">
                <a href="/">Inicio</a>
                <a href="/sel_selftraining">Self-Training</a>
            </div>
            <br>
        {% endblock %}</div>
        <div id="content">{% block content %}{% endblock %}</div>
        <div id="footer">
            {% block footer %}{% endblock %}
            {% with mensajes = get_flashed_messages() %}
                {% if mensajes %}
                    {% for mensaje in mensajes|reverse %}
                        <p style="background-color: gold; color: black;"> {{ loop.index }} - {{ mensaje }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <p>Universidad de Burgos</p>
        </div>
    </body>
</html>