{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script type="text/javascript" src="/static/inicializar.js"></script>
    <script type="text/javascript" src="/static/estadisticas.js"></script>
    <script type="text/javascript" src="/static/grafico.js"></script>
{% endblock %}
{% block content %}
    <button id="btn_volver" type="button" onclick="history.back()" class="btn btn-outline-info">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 25 18">
            <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"></path>
        </svg>{{ gettext('Go back') }}</button>
    <div class="d-flex justify-content-around mb-3 position-relative">
        <div class="row">
            <div class="col-md">
                <div class="text-center position-relative">
                    <div id="div_cargando">
                        <div id="cargando" class="cargando"></div>
                    </div>
                    <p id="nombre_dataset" style="visibility: hidden;">
                        {{ gettext('Dataset') }}: {{ session['FICHERO']|nombredataset }}
                    </p>
                    <div id="semisupervisedchart"></div>

                    <div class="text_center" id="controles" style="visibility: hidden;">
                        <button id="reiniciar_zoom" class="btn btn-light">{{ gettext('Zoom reset') }}</button>
                        <br><br>
                        <label>{{ gettext('Iteration') }}: </label><label id="iteracion">0</label>
                        <br>
                        <progress id="progreso" value=0></progress>
                        <br>
                        <button id="previt" class="btn btn-primary">{{ gettext('Previous') }}</button>
                        <button id="reproducir" class="btn btn-primary">{{ gettext('Play') }}</button>
                        <button id="nextit" class="btn btn-primary">{{ gettext('Next') }}</button>
                    </div>
                    <br>
                </div>
            </div>
            <div class="col-md">
                <div class="text-center">
                    <div id="general"></div>
                    <br>
                    <div id="checkboxes_general"></div>
                    <!-- Si fuesen necesarias más estadísticas se incluirán aquí -->
                    {% block mas_estadisticas %}{% endblock %}
                </div>
            </div>
        </div>
    </div>

    <script>

        function traducir(texto) {
            let traducciones = {
                'Initial data': "{{ gettext('Initial data') }}",
                'Label': "{{ gettext('Label') }}",
                'Classifier': "{{ gettext('Classifier') }}",
                'Classifier: Not classified': "{{ gettext('Classifier: Not classified') }}",
                'Label: Not classified': "{{ gettext('Label: Not classified') }}",
                'Pause': "{{ gettext('Pause') }}",
                'Play': "{{ gettext('Play') }}",
                'Rate': "{{ gettext('Rate') }}",
                'Iteration': "{{ gettext('Iteration') }}"
            }
            return traducciones[texto]
        }

        /* Datos para la petición POST de la ejecución del algortimo.
        * Es decir, cada elemento es uno de los parámetros configurados */
        let elementos = [];

        {% for param in params %}
            elementos.push({nombre: "{{ param.nombre }}", valor: "{{ param.valor }}"});
        {% endfor %}

        let cx = "{{ cx }}", cy = "{{ cy }}";
    </script>
    <!-- Si fuesen necesarios más se incluirán aquí -->
    <!-- En principio siempre (al menos) se ejecutará la petición POST -->
    {% block mas_scripts %}{% endblock %}
{% endblock %}