<!DOCTYPE html>
<meta charset="utf-8">

<title>Configuración de la ejecución</title>

<form action="/selftraining" method="POST">
    <div>
        <label for="n">N:</label>
        <input type="number" id="n" name="n">
    </div>
    <div>
        <label for="th">Límite (threshold):</label>
        <input type="number" id="th" name="th">
    </div>
    <div>
        <label for="n_iter">Número de iteraciones:</label>
        <input type="number" id="n_iter" name="n_iter">
    </div>
    <button type="submit">Ejecutar</button>
</form>