{%  from "macros.html" import formulario_comun %}
{% extends "base_configuracion.html" %}
{% block parametros %}
    <form action="/cotraining" method="POST">
        <div class="mb-3">
            <label for="p">{{ gettext('Positives') }} (p):</label>
            <input type="number" class="form-control" id="p" min=0 max=Infinity required name="p" value=1>
        </div>
        <div class="mb-3">
            <label for="n">{{ gettext('Negatives') }} (n):</label>
            <input type="number" class="form-control" id="n" min=0 max=Infinity required name="n" value=3>
        </div>
        <div class="mb-3">
            <label for="u">{{ gettext('Initial data number') }}:</label>
            <input type="number" class="form-control" id="u" min=1 required name="u" value=75> <label>({{ gettext('if it is greater that the total, it will be limited to it') }})</label>
        </div>
        <div class="mb-3">
            <label for="n_iter">{{ gettext('Number of iterations') }}:</label>
            <input type="number" class="form-control" id="n_iter" min=0 required name="n_iter" value=30>
        </div>
        {{ formulario_comun(caracteristicas) }}
    </form>
{% endblock %}
{% block explicaciones %}
    Explicaciones
{% endblock %}