{% extends "base_configuracion.html" %}
{% block parametros %}
    <form action="/cotraining" method="POST">
        <div>
            <label for="p">Positivos (p):</label>
            <input type="number" id="p" min=0 max=Infinity required name="p">
        </div>
        <div>
            <label for="n">Negativos (n):</label>
            <input type="number" id="n" min=0 max=Infinity required name="n">
        </div>
        <div>
            <label for="u">Número de datos iniciales:</label>
            <input type="number" id="u" min=1 required name="u"> <label>(si es mayor que el total, se capará a este)</label>
        </div>
        <div>
            <label for="n_iter">Número de iteraciones:</label>
            <input type="number" id="n_iter" min=0 required name="n_iter">
        </div>
        <div>
            <label for="sel_target">Selecciona el target/clase del dataset seleccionado:</label>
            <select name="target" required>
                {% for c in caracteristicas %}
                    <option value="{{c}}">{{c}}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="cx">Selecciona la componente X:</label>
            <select id="cx" name="cx" required>
                {% for c in caracteristicas %}
                    <option value="{{c}}">{{c}}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="cy">Selecciona la componente Y:</label>
            <select id="cy" name="cy" required>
                {% for c in caracteristicas %}
                    <option value="{{c}}">{{c}}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="pca">Utilizar PCA:</label>
            <input type="checkbox" id="pca" oninput="componentesPCA(this.checked,'cx','cy')" name="pca">
            <label>(al utilizar PCA se reduce a 2 las componentes directamente):</label>
        </div>
        <div>
            <label for="no_etiquetados">¿El conjunto de datos ya es semi-supervisado?:</label>
            <input type="checkbox" id="no_etiquetados" oninput="noetiquetados(this.checked,'p_unlabelled')" name="no_etiquetados">
        </div>
        <div>
            <label for="p_unlabelled">Porcentaje de no etiquetados:</label>
            <input type="number" id="p_unlabelled" min=0 max=0.99 step="any" name="p_unlabelled">
        </div>
        <div>
            <label for="p_test">Porcentaje de test (después de aplicar el de no etiquetados):</label>
            <input type="number" id="p_test" min=0 max=0.99 step="any" name="p_test">
        </div>
        <button type="submit">Ejecutar</button>
    </form>
{% endblock %}
{% block explicaciones %}
    Explicaciones
{% endblock %}