{% extends "base_visualizacion.html" %}
{% block title %}Co-Training{% endblock %}
{% block pseudocodigo %}
    <img src="{{ gettext('/static/pseudocodigos/en/CoTraining.png') }}" width="75%" />
{% endblock %}
{% block mas_scripts %}
    <script>
        inicializar("/{{ session['ALGORITMO'] }}d", elementos).then(function (datos) {
            inicializarGrafico(datos, preparardataset_cotraining,databinding_cotraining);

            let stats = Object.keys(JSON.parse(datos.stats));
            generargraficoestadistico("estadisticas_generales", JSON.parse(datos.stats), stats);
        });
    </script>
{% endblock %}