{% extends "base_visualizacion.html" %}
{% block title %}Co-Training{% endblock %}
{% block estadisticas %}
    <div style="overflow-y: auto; max-height: 85vh ">
        <div class="card">
            <div class="card-header">
                <a class="btn" data-bs-toggle="collapse" href="#precision">
                    Precisión
                </a>
            </div>
            <div id="precision" class="collapse show" data-bs-parent="#accordion">
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <a class="collapsed btn" data-bs-toggle="collapse" href="#stat2">
                    ESTADÍSTICA 2
                </a>
            </div>
            <div id="stat2" class="collapse" data-bs-parent="#accordion">
                <div class="card-body">
                    ESTADÍSTICA
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <a class="collapsed btn" data-bs-toggle="collapse" href="#stat3">
                    ESTADÍSTICA 3
                </a>
            </div>
            <div id="stat3" class="collapse" data-bs-parent="#accordion">
                <div class="card-body">
                    ESTADÍSTICA
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="/static/grafico_cotraining.js"></script>
    <script>
        let elementos = [
            { nombre: "p", valor: {{ p }} },
            { nombre: "n", valor: {{ n }} },
            { nombre: "u", valor: {{ u }} },
            { nombre: "n_iter", valor: {{ n_iter }} },
            { nombre: "target", valor: "{{ target }}" },
            { nombre: "cx", valor: "{{ cx }}" },
            { nombre: "cy", valor: "{{ cy }}" },
            { nombre: "pca", valor: "{{ pca }}" },
            { nombre: "no_etiquetados", valor: "{{ no_etiquetados }}" },
            { nombre: "p_unlabelled", valor: {{ p_unlabelled }} },
            { nombre: "p_test", valor: "{{ p_test }}" }
        ];
        let cx = "{{ cx }}", cy = "{{ cy }}";
        inicializar("/{{ session['ALGORITMO'] }}d", elementos).then(function (datos) {
            inicializarGrafico(datos, preparardataset,databinding);
            precision(datos);
        });
    </script>
{% endblock %}