{% extends "base_configuracion.html" %}
{%  from "macros.html" import selector %}
{% block parametros %}
    <div class="mb-3">
        {{ selector("clasificador1", clasificadores) }}
    </div>
    <div class="parametros" id="parametros1"></div>
    <br>
    <div class="mb-3">
        {{ selector("clasificador2", clasificadores) }}
    </div>
    <div class="parametros" id="parametros2"></div>
    <br>
    <div class="mb-3">
        <label for="p">{{ gettext('Positives') }} (p):</label>
        <input type="number" class="form-control" id="p" min=0 max=Infinity required name="p" value=1>
    </div>
    <div class="mb-3">
        <label for="n">{{ gettext('Negatives') }} (n):</label>
        <input type="number" class="form-control" id="n" min=0 max=Infinity required name="n" value=3>
    </div>
    <div class="mb-3">
        <label for="u">{{ gettext('Initial data number') }}:</label>
        <input type="number" class="form-control" id="u" min=1 required name="u" value=75> <label>({{ gettext('if it is greater that the total, it will be limited to it') }})</label>
    </div>
    <div class="mb-3">
        <label for="n_iter">{{ gettext('Number of iterations') }}:</label>
        <input type="number" class="form-control" id="n_iter" min=0 required name="n_iter" value=30>
    </div>
{% endblock %}
{% block form_scripts %}
    <script>
        const clasificador1 = document.querySelector('#clasificador1');
        const clasificador2 = document.querySelector('#clasificador2');

        const div_parametros1 = document.querySelector('#parametros1');
        const div_parametros2 = document.querySelector('#parametros2');

        const todos_parametros = {{ parametros|tojson }};

        clasificador1.addEventListener('change', (event) => {
            generarFormParametros(event.target.value, div_parametros1, "clasificador1");
        });

        clasificador2.addEventListener('change', (event) => {
            generarFormParametros(event.target.value, div_parametros2, "clasificador2");
        });

        generarFormParametros(clasificador1.value, div_parametros1, "clasificador1");
        generarFormParametros(clasificador2.value, div_parametros2, "clasificador2");
    </script>
{% endblock %}
{% block explicaciones %}
    <p>Basado fuertemente en Self-Training, en este caso varios
        clasificadores (normalmente dos) se encargan del proceso e «interactúan»
        entre sí. Del mismo modo, una vez entrenados predicen las etiquetas de los
        no clasificados y todos los clasificadores añaden las mejores predicciones
        (mayor confianza/probabilidad).

        Co-Training trabaja con dos vistas sobre los datos («multi-view»).
        Estas vistas corresponden no con subconjuntos de las instancias, sino de subconjuntos de las
        características de las mismas. Es decir, cada clasificador va a entrenarse
        teniendo en cuenta características distintas. Idealmente, estas vistas son
        independientes y pueden predecir por sí solas la etiqueta (aunque no siempre
        se cumplirá). Cuando los clasificadores predicen etiquetas sobre los datos, se
        seleccionan de ambos los de mayor confianza y construyen el nuevo conjunto
        de entrenamiento para la siguiente iteración.
    </p>
    <img src="/static/pseudocodigos/CoTraining.png" width="75%" />
{% endblock %}