{% extends "base_visualizacion.html" %}
{% block title %}Democratic Co-Learning{% endblock %}
{% block mas_estadisticas %}
    <br>
    <div id="especificas"></div>
{% endblock %}
{% block mas_scripts %}
    <script>
        inicializar("/{{ session['ALGORITMO'] }}d", elementos).then(function (datos) {
            inicializarGrafico(datos, preparardataset_democraticcolearning,databinding_democraticcolearning);

            let stats = Object.keys(JSON.parse(datos.stats));
            generargraficoestadistico("general", JSON.parse(datos.stats), stats);

            generarespecificas("especificas", datos.specific_stats);
        });
    </script>
{% endblock %}