{% extends "base_configuracion.html" %}
{%  from "macros.html" import formulario_comun %}
{% block parametros %}
    <form action="{{ url_for('democraticcolearning') }}" method="POST">
        <div class="mb-3">
            <label for="clasificador">{{ gettext('Select classifier') }}:</label>
            <select class="form-select" id="clasificador1" name="clasificador1" required>
                {% for c in clasificadores %}
                    <option value="{{c}}">{{c}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="clasificador">{{ gettext('Select classifier') }}:</label>
            <select class="form-select" id="clasificador2" name="clasificador2" required>
                {% for c in clasificadores %}
                    <option value="{{c}}">{{c}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="clasificador">{{ gettext('Select classifier') }}:</label>
            <select class="form-select" id="clasificador3" name="clasificador3" required>
                {% for c in clasificadores %}
                    <option value="{{c}}">{{c}}</option>
                {% endfor %}
            </select>
        </div>
        {{ formulario_comun(caracteristicas) }}
    </form>
{% endblock %}
{% block explicaciones %}
    Explicaciones
{% endblock %}