{% extends "base_configuracion.html" %}
{%  from "macros.html" import formulario_comun %}
{% block parametros %}
    <form action="{{ url_for('democraticcolearning') }}" method="POST">
        <div class="row">
            <div class="col-md">
                <div class="mb-3">
                    <label for="clasificador1">{{ gettext('Select classifier') }}:</label>
                    <select class="form-select" id="clasificador1" name="clasificador1" required>
                        {% for c in clasificadores %}
                            <option value="{{c}}">{{c}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div id="parametros1" style="border: 1px solid black; padding: 5px;"></div>
                <br>
                <div class="mb-3">
                    <label for="clasificador2">{{ gettext('Select classifier') }}:</label>
                    <select class="form-select" id="clasificador2" name="clasificador2" required>
                        {% for c in clasificadores %}
                            <option value="{{c}}">{{c}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div id="parametros2" style="border: 1px solid black; padding: 5px;"></div>
                <br>
                <div class="mb-3">
                    <label for="clasificador3">{{ gettext('Select classifier') }}:</label>
                    <select class="form-select" id="clasificador3" name="clasificador3" required>
                        {% for c in clasificadores %}
                            <option value="{{c}}">{{c}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div id="parametros3" style="border: 1px solid black; padding: 5px;"></div>
            </div>
            <div class="col-md">
                {{ formulario_comun(caracteristicas) }}
            </div>
        </div>
        <br>
        <div class="row">
            <button type="submit" class="btn btn-primary" style="margin: auto; width: 50%">{{ gettext('Run') }}</button>
        </div>
    </form>

    <script>
        const clasificador1 = document.querySelector('#clasificador1');
        const clasificador2 = document.querySelector('#clasificador2');
        const clasificador3 = document.querySelector('#clasificador3');

        const div_parametros1 = document.querySelector('#parametros1');
        const div_parametros2 = document.querySelector('#parametros2');
        const div_parametros3 = document.querySelector('#parametros3');

        const todos_parametros = {{ parametros|tojson }};

        clasificador1.addEventListener('change', (event) => {
            generarFormParametros(event.target.value, div_parametros1, "clasificador1");
        });

        clasificador2.addEventListener('change', (event) => {
            generarFormParametros(event.target.value, div_parametros2, "clasificador2");
        });

        clasificador3.addEventListener('change', (event) => {
            generarFormParametros(event.target.value, div_parametros3, "clasificador3");
        });

        generarFormParametros(clasificador1.value, div_parametros1, "clasificador1");
        generarFormParametros(clasificador2.value, div_parametros2, "clasificador2");
        generarFormParametros(clasificador3.value, div_parametros3, "clasificador3");

    </script>
{% endblock %}
{% block explicaciones %}
    Explicaciones
{% endblock %}