{% extends "base.html" %}
{% block title %}{{ gettext('Home') }}{% endblock %}
{% block content %}
    <div class="mt-4 p-5 bg-info text-white">
        <h1>VASS</h1>
        <p>{{ gettext('Final Degree Project on semi-supervised algorithms and their visualization') }}</p>
    </div>
    <div class="container-fluid bg-3 text-center">
        <br><h3>{{ gettext('Algorithms') }}</h3><br>
        <div class="row">
            <div class="col-sm-3">
                <p>Self-Training</p>
                <a href="/seleccionar/selftraining"><img src="https://picsum.photos/640/360" style="width:100%"></a>
            </div>
            <div class="col-sm-3">
                <p>Co-Training</p>
                <a href="/seleccionar/cotraining"><img src="https://picsum.photos/640/360" style="width:100%"></a>
            </div>
            <div class="col-sm-3">
                <p>Democratic Co-Learning</p>
                <img src="https://picsum.photos/640/360" style="width:100%">
            </div>
            <div class="col-sm-3">
                <p>Co-Forest</p>
                <img src="https://picsum.photos/640/360" style="width:100%">
            </div>
        </div>
    </div><br>
{% endblock %}


