{% extends "base_visualizacion.html" %}
{% block title %}Self-Training{% endblock %}
{% block estadisticas %}
    <div class="accordion" style="overflow-y: auto; max-height: 80vh" id="acordeon">
        <div class="accordion-item">
            <h2 class="accordion-header" id="primer_fuelle">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#precision" aria-expanded="true" aria-controls="precision">
                    Precisión
                </button>
            </h2>
            <div id="precision" class="accordion-collapse collapse show" aria-labelledby="primer_fuelle"></div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="segundo_fuelle">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accuracy" aria-expanded="false" aria-controls="accuracy">
                    Exactitud (accuracy)
                </button>
            </h2>
            <div id="accuracy" class="accordion-collapse collapse" aria-labelledby="segundo_fuelle"></div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="tercer_fuelle">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#stat3" aria-expanded="false" aria-controls="stat3">
                    ESTADÍSTICA 3
                </button>
            </h2>
            <div id="stat3" class="accordion-collapse collapse" aria-labelledby="tercer_fuelle">
                ESTADÍSTICA 3
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="/static/grafico_selftraining.js"></script>
    <script>
        let elementos = [
            { nombre: "n", valor: {{ n }} },
            { nombre: "th", valor: {{ th }} },
            { nombre: "n_iter", valor: {{ n_iter }} },
            { nombre: "target", valor: "{{ target }}" },
            { nombre: "cx", valor: "{{ cx }}" },
            { nombre: "cy", valor: "{{ cy }}" },
            { nombre: "pca", valor: "{{ pca }}"},
            { nombre: "no_etiquetados", valor: "{{ no_etiquetados }}" },
            { nombre: "p_unlabelled", valor: {{ p_unlabelled }} },
            { nombre: "p_test", valor: "{{ p_test }}" }
        ];
        let cx = "{{ cx }}", cy = "{{ cy }}";
        inicializar("/{{ session['ALGORITMO'] }}d", elementos).then(function (datos) {
            inicializarGrafico(datos, preparardataset,databinding);
            estadisticagenerica(datos, "precision", "Precisión");
            estadisticagenerica(datos, "accuracy", "Accuracy");
        });

    </script>
{% endblock %}