{% extends "base_visualizacion.html" %}
{% block title %}Self-Training{% endblock %}
{% block estadisticas %}
    <div class="padre">
        <div id="precision"></div>
    </div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="/static/grafico_selftraining.js"></script>
    <script>
        let elementos = [
            { nombre: "n", valor: {{ n }} },
            { nombre: "th", valor: {{ th }} },
            { nombre: "n_iter", valor: {{ n_iter }} },
            { nombre: "target", valor: "{{ target }}" },
            { nombre: "cx", valor: "{{ cx }}" },
            { nombre: "cy", valor: "{{ cy }}" },
            { nombre: "pca", valor: "{{ pca }}"},
            { nombre: "no_etiquetados", valor: "{{ no_etiquetados }}" },
            { nombre: "p_unlabelled", valor: {{ p_unlabelled }} },
            { nombre: "p_test", valor: "{{ p_test }}" }
        ];
        let cx = "{{ cx }}", cy = "{{ cy }}";
        inicializar("/{{ session['ALGORITMO'] }}d", elementos).then(function () {
            inicializarGrafico(preparardataset,databinding);
            precision();
        });

    </script>
{% endblock %}