{% extends "base.html" %}
{% block title %}Configuración de la ejecución{% endblock %}
{% block content %}
<form action="/selftraining" method="POST">
    <div>
        <label for="n">N:</label>
        <input type="number" id="n" name="n">
    </div>
    <div>
        <label for="th">Límite (threshold):</label>
        <input type="number" id="th" name="th">
    </div>
    <div>
        <label for="n_iter">Número de iteraciones:</label>
        <input type="number" id="n_iter" name="n_iter">
    </div>
    <div>
        <label for="sel_target">Selecciona el target/clase del dataset seleccionado:</label>
        <select name="target">
            {% for c in caracteristicas %}
                <option value="{{c}}">{{c}}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit">Ejecutar</button>
</form>

{% endblock %}