{% extends "base_visualizacion.html" %}
{% block title %}Self-Training{% endblock %}
{% block estadisticas %}
    <p>STATS</p>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="/static/grafico.js"></script>
    <script>
        let elementos = [
            { nombre: "n", valor: {{ n }} },
            { nombre: "th", valor: {{ th }} },
            { nombre: "n_iter", valor: {{ n_iter }} },
            { nombre: "target", valor: "{{ target }}" },
            { nombre: "cx", valor: "{{ cx }}" },
            { nombre: "cy", valor: "{{ cy }}" },
            { nombre: "pca", valor: "{{ pca }}" }
        ];
        let cx = "{{ cx }}", cy = "{{ cy }}";
        inicializarGrafico("/{{ session['ALGORITMO'] }}d", elementos, STpreparardataset, STdatabinding);
    </script>
{% endblock %}