{% extends "base.html" %}
{% block title %}Selección de dataset{% endblock %}
{% block content %}
    <div class="padre">
        <div class="hijo">
            <div id="soltar">
                Arrastra y suelta aquí tu archivo.
            </div>
        </div>
        <br>
        <div class="hijo" style="margin: 15px">
            <progress id="progreso" max=100 value=0></progress>
        </div>
        <br>
        <div class="hijo" style="margin: 15px">
            <form action="/{{ session['ALGORITMO'] }}c">
                <input id="config_btn" type="submit" value="Configurar algoritmo" />
            </form>
        </div>
    </div>
    <br>
    <script type="text/javascript" src="/static/subida.js"></script>
{% endblock %}

