{% extends "base.html" %}
{% block title %}{{ gettext('Dataset selection') }}{% endblock %}
{% block content %}
    <br>
    <div class="d-flex justify-content-center align-items-center">
        <p class="h2 text-center">{{ gettext('Dataset upload') }}</p>
    </div>
    <br>
    <div class="container text-center pb-5">
        <div class="row align-items-center">
            <div class="col">
                <div id="soltar">
                    <p>{{ gettext('Drag and drop your file') }}</p>
                    <p>{{ gettext('or') }}</p>
                    <input type=file id="archivo" name=archivo>
                </div>
                <progress id="progreso" max=100 value=0></progress>
                <form action="{{ url_for('configurar_algoritmo', algoritmo=session['ALGORITMO']) }}">
                    <input id="config_btn" class="btn btn-primary" type="submit" value="{{ gettext('Configure algorithm') }}" />
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/static/subida.js"></script>
{% endblock %}

