{% extends "base.html" %}
{% block title %}Selección de dataset{% endblock %}
{% block content %}
    <div class="container">
        <div id="soltar">
            Arrastra y suelta aquí tu archivo.
        </div>
    </div>
    <div class="container">
        <progress id="progreso" max=100 value=0></progress>
    </div>
    <div class="container">
        <form action="/{{ alg }}c">
            <input id="config_btn" type="submit" value="Configurar algoritmo" />
        </form>
    </div>
    <br>
    <script type="text/javascript" src="/static/subida.js"></script>
{% endblock %}

