{% extends "visualizacion/base_visualizacion.html" %}
{% block title %}Democratic Co-Learning{% endblock %}
{% block pseudocodigo %}
    <img src="{{ gettext('/static/pseudocodigos/en/DemocraticCoLearningFit.png') }}" width="75%" />
    <img src="{{ gettext('/static/pseudocodigos/en/DemocraticCoLearningCombine.png') }}" width="75%" />
{% endblock %}
{% block titulo_especificas %}
    <h4>{{ gettext('Specific statistics') }}</h4>
    <br>
{% endblock %}
{% block mas_estadisticas %}
    <br>
    <div id="estadisticas_especificas"></div>
    <div id="leyenda_estadisticas_especificas"></div>
{% endblock %}
{% block mas_scripts %}
    <script>
        inicializar("/{{ session['ALGORITMO'] }}d", elementos).then(function (datos) {
            inicializarGrafico(datos, preparardataset_democraticcolearning,databinding_tritaining);

            let stats = Object.keys(JSON.parse(datos.stats));
            generargraficoestadistico("estadisticas_generales", JSON.parse(datos.stats), stats);

            generarespecificas(datos.specific_stats);
        });
    </script>
{% endblock %}